doctype html
html(lang="en")
	head
		title Landing Page
	body
		h1 "The future hme, of something awesome!"
		p Put a bird on it flannel scenester cardigan, hoodie authentic Truffaut hashtag selfies readymade iPhone viral mlkshk. Keytar meditation food truck seitan master cleanse. Pork belly retro chambray Marfa, banh mi fingerstache drinking vinegar asymmetrical wayfarers Neutra try-hard. Try-hard selfies 8-bit, kitsch locavore synth cornhole vegan irony. Pitchfork food truck beard forage biodiesel, crucifix butcher Austin hashtag. Semiotics paleo iPhone, American Apparel mustache pickled Williamsburg migas four dollar toast sustainable. PBR typewriter plaid, four loko ethical trust fund 8-bit paleo messenger bag cronut.