doctype html
html(lang="en")
  head
    title Post Page
  body
    section.post
      .container.text-right
        a(href="").text-faded view all
        .row
          .col-lg-8.col-lg-offset-2.text-center
            h2.section-heading I like to run!
            
            hr.light
            
            p.text-faded
              | Fanny pack vinyl put a bird on it, small batch viral migas 8-bit meditation Shoreditch keytar health goth bespoke sustainable. Viral you probably haven't heard of them try-hard ennui, pug Thundercats selfies. Normcore cray health goth, umami ennui beard art party skateboard squid distillery.
            .article
              | Fanny pack vinyl put a bird on it, small batch viral migas 8-bit meditation Shoreditch keytar health goth bespoke sustainable. Viral you probably haven't heard of them try-hard ennui, pug Thundercats selfies. Normcore cray health goth, umami ennui beard art party skateboard squid distillery.