extends layout

block content
    #wrapper
        include ./partials/nav
        #page-wrapper
            .container-fluid
                .row
                    .col-lg-12
                      h1.page-header
                        | Blank Page
                        small Subheading
                      ol.breadcrumb
                        li
                          i.fa.fa-dashboard
                          a(href='index.html') Dashboard
                        li.active
                          i.fa.fa-file
                          |  Blank Page
                    .row
                        .col-lg-12
                            p hello! #{user.first_name}
                    h1 Posts
                        #users
                        for post in posts
                            include posts
                    // /.row
