doctype html
html
    include ./head
    
    body#page-top
    
    include ./nav
    
    block content

    // jQuery
    script(src='js/jquery.js')
    // Bootstrap Core JavaScript
    script(src='js/bootstrap.min.js')
    // Plugin JavaScript
    script(src='js/jquery.easing.min.js')
    |     
    script(src='js/jquery.fittext.js')
    |     
    script(src='js/wow.min.js')
    // Custom Theme JavaScript
    script(src='js/creative.js')