extends layout

block content
  .login
    .container-full
      .row
        .col-lg-12
          h1 The Admin Site
          p.lead Login in here!
          p
            | Hint: login with one of the users in the 
            a(href='mock/users.json') mock/users.json

          br
          br
          br
          form(method='post', action='/login' style='width:340px;text-align:center;margin:0 auto;')
            //- .input-group(style='width:340px;text-align:center;margin:0 auto;')
            p.input-group
                span.input-group-addon Username
                input.form-control.input-lg(type='text', name='username' placeholder='enter your username')
            p.input-group
                span.input-group-addon Password
                input.form-control.input-lg(type='text', name='password' placeholder='enter your password') 
            p.btn
                input.btn.btn-lg.btn-primary(type='submit', value='Login')


